.hv-tabs {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 0 20px;
  box-shadow: 0px 10px 30px 0px rgba(19, 20, 18, 0.05);
  button {
    flex: 1;
    font-size: 20px;
    padding: 10px 0px;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 4px solid transparent;
    &.active {
      border-bottom-color: #f1795d;
    }
  }
}

.tab-content {
  margin-top: 12em;
  position: relative;
}

.main-content-bottom {
  .main-content-bottom__wrap {
    padding-top: 160px;
    height: 370px;
    background-image: -webkit-linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    text-align: center;
    h1,
    span {
      color: #fff;
    }
  }
}

.tab-placeholder-msg {
  position: absolute;
  top: -8em;
  left: 40%;
  opacity: 0.7;
}
