<!-- Tabs -->
<section class="hv-tabs">
    <ng-container *ngFor="let tab of tabInfo; let i = index">
        <button id="tab-link" [ngClass]="{'active': i === selectedTabIndex}" (click)="onTabClick(i)">{{tab}}</button>
    </ng-container>
</section>
<!-- Tab Contents to load based on the chosen tab -->
<section class="tab-content">
    <ng-container [ngSwitch]="selectedTabIndex">
        <ng-container *ngSwitchCase="'3'">
            <app-share-content></app-share-content>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <p class="tab-placeholder-msg">Hey ! Check out 'Share'. It has got some cool stuffs !</p>
        </ng-container>
    </ng-container>
</section>

<!-- Bottom portion of the tab content -->
<section id="main-content-bottom" class="main-content-bottom">
    <div class="main-content-bottom__wrap">
        <h1 class="h--margin-0">One tool for all your needs</h1>
        <a id="get-started" class="btn-secondary">
            GET STARTED FOR FREE
        </a>
        <br />
        <span>14-day Free Trial. No Credit Card Required.</span>
    </div>
</section>