.hv-footer {
  height: 688px;
  background: #494949;
  padding: 150px 20px 20px 20px;
}

.footer-wrapper {
  height: 100%;
  color: #fff;
  .footer-content-heading {
    font-size: 24px;
    padding-left: 40px;
    font-weight: 400;
  }
}

.platform-options__element {
  line-height: 38px;
}

.site-info {
  background: #3f3f3f;
  padding: 30px 0px;
  color: #fff;
  text-align: center
}
