<div id="feature-header" class="feature-header banner" data-direction="down" data-speed="0">
    <div class="feature-header__content d-inline-block banner-title" data-direction="up" data-speed="0.4">
        <h1>
            Share Your Ideas, Impress The World
        </h1>
        <p class="banner-subtitle">
            Easy and secure video sharing
        </p>
        <a id="get-started" class="btn-primary">
            GET STARTED FOR FREE
        </a>
        <br />
        <span>14-day Free Trial. No Credit Card Required.</span>
    </div>
</div>