.feature-header {
  background-image: url(~/assets/background/feature-create-banner-img.png), url(~/assets/background/feature-banner.png);
  background-repeat: no-repeat;
  background-size: 33%, 73%;
  background-position: 89% 68%, 122% -56px;
  width: 100%;
  .feature-header__content {
    position: relative;
    h1 {
      margin: 0;
      font-weight: 400;
      color: #050505;
      line-height: 1.477;
      letter-spacing: 0.2px;
    }
    // p {
    //   margin-top: 70px;
    //   font-size: 20px;
    // }
  }
}
