.nav-bar-1 {
  position: absolute;
  right: 0;
  padding-top: 10px;
  a {
    padding: 0 10px;
    color: #fff;
  }
}

.nav-bar-2 {
  display: flex;
  position: sticky;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 9;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  .nav-bar-2__hv-logo {
    flex: 1;
    img {
      height: 45px;
      margin-top: 10px;
    }
    a {
      margin-left: 70px;
    }
  }
  .nav-options {
    flex: 2;
    display: flex;
    justify-content: space-around;
    // padding: 5px 5px 0px;
    .nav-options__create {
      text-transform: uppercase;
      font-weight: 600;
      padding: 15px 40px 15px 40px;
      margin: 5px 0px;
      border-radius: 4px;
      background: #f1795d;
      color: #fff;
    }
    .nav-options__button {
      font-size: 1rem;
      text-align: center;
      flex: 1;
      padding: 15px 0px;
      font-weight: 600;
      color: #f1795d;
      text-transform: uppercase;
      border-bottom: 4px solid transparent;
      border-top-width: 4px;
      border-top-style: solid;
      border-top-color: transparent !important;
      &.active {
        border-color: #f1795d;
      }
    }
  }
}

.empty-container {
  height: 50px;
}

.navbar-container {
  position: absolute;
}

.mbl-menu {
  position: fixed;
  top: 50px;
  height: 200px;
  width: 100%;
  opacity: 0.5;
  background: #000000;
}
