.flex-item {
  flex-grow: 1;
  height: 230px;
  img {
    margin: auto;
    display: block;
  }
  p{
      max-width: 57%;
      margin: auto;
  }
}

.red {
  background: #ded534;
}

.grey {
  background: grey;
}
