@import "./helpers";
@import "./app/utils/scss/mediaquery";

html {
  font-family: "Open Sans", sans-serif !important;
}

body {
  margin: 0px;
}

a {
  cursor: pointer;
}

h1,
h3 {
  text-transform: capitalize;
}

h1 {
  font-size: 30px;
}

.flex-container {
  display: flex;
  .flex-item-1 {
    flex: 1;
  }
}

.flex-column {
  flex-direction: column;
}

button:focus {
  outline: 0;
}

/* Common styles */
.btn-primary {
  color: #fff;
  font-size: 16px;
  background-color: #f47a58;
  background-image: -webkit-gradient(linear, left top, right top, from(#fb705e), to(#fb9c5a));
  background-image: -webkit-linear-gradient(left, #fb705e, #fb9c5a);
  background-image: linear-gradient(to right, #fb705e, #fb9c5a);
  border-radius: 4px;
  padding: 15px 40px 15px 40px;
  display: inline-block;
  &:hover {
    background-image: linear-gradient(to right, #fb9c5a, #fb705e);
  }
}

.btn-secondary {
  color: #f47a58;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 40px 15px 40px;
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 20px;
}

.xm-menu-icon {
  display: none;
}
