@import "./helpers";
html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    margin: 0px;
}

h1, h3{
    text-transform: capitalize;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

button:focus {
    outline: 0;
}

/* Media queries */

@media screen and (max-width: 535px){
    .tab-content{
        .flex-container{
            flex-direction: column;
        }
    }
    .feature-header {
        // background-image: url(~/assets/background/feature-create-banner-img.png), url(~/assets/background/feature-banner.png);  
        // background-repeat: no-repeat;
        background-size: 28%, 81%  !important;
        background-position: 90% 12%, 144% -21px !important;
        // height: 806px;
        .header-content {
            // position: relative;
            top: 264px !important;
            left: 14px !important;
            h1 {
                // margin: 0;
                font-size: 24px !important;
                // font-weight: 400;
                // color: #050505;
                // line-height: 1.477;
                // letter-spacing: 0.2px;
            }
            p {
                // margin-top: 80px;
                // font-size: 20px;
            }
            .btn-get-started {
                color: #fff;
                font-size: 16px;
                background-color: #f47a58;
                background-image: -webkit-gradient(linear, left top, right top, from(#fb705e), to(#fb9c5a));
                background-image: -webkit-linear-gradient(left, #fb705e, #fb9c5a);
                background-image: linear-gradient(to right, #fb705e, #fb9c5a);
                border-radius: 4px;
                padding: 15px 40px 15px 40px;
                display: inline-block;
                margin-top: 45px;
                margin-bottom: 20px;
                &:hover {
                    background-image: linear-gradient(to right, #fb9c5a, #fb705e);
                }
            }
        }
    }
}