/* Mobile screen */

@media screen and (max-width: 535px) {
  html {
    font-size: 12px;
  }
  .flex-container {
    flex-direction: column;
  }

  .nav-options,
  .hv-tabs {
    display: none !important;
  }
  .xm-menu-icon {
    display: inline;
    margin: 10px 10px 0 0;
  }

  .feature-header {
    background: none !important;
    height: 30rem;
    .feature-header__content {
      top: 1rem;
      left: 1rem;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.3rem;
        margin: 1.3rem 0rem;
      }
      .btn-primary {
        margin-bottom: 0.8rem;
      }
    }
  }
}

/* Table screen - landscape media query */

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
  .nav-options {
    .nav-options__button {
      padding: 15px 24px 13px 40px;
    }
  }
  .feature-header {
    background-position: 89% 30%, 122% -56px;
    height: 34rem;
    .feature-header__content {
      left: 3rem;
      top: 12rem;
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.3rem;
        margin: 1.3rem 0rem;
      }
      .btn-primary {
        margin-bottom: 1rem;
      }
    }
  }
}

/* Table screen - landscape media query */

@media screen and (min-width: 535px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .nav-options {
    .nav-options__button {
      padding: 15px 10px;
      font-size: 0.8rem;
    }
  }

  .feature-header {
    background-position: 89% 30%, 122% -56px;
    height: 34rem;
    .feature-header__content {
      left: 3rem;
      top: 12rem;
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.3rem;
        margin: 1.3rem 0rem;
      }
      .btn-primary {
        margin-bottom: 1rem;
      }
    }
  }

  .tools-entity {
    left: 2rem;
  }
}

/* Any monitor beyond 1366px of width*/

@media screen and (min-width: 1366px) {
  html {
    font-size: 16px;
  }
  .nav-options {
    .nav-options__button {
      padding: 15px 0px;
      font-size: 1rem;
    }
  }

  .feature-header {
    background-position: 89% 68%, 122% -56px;
    height: 57rem;
    .feature-header__content {
      top: 22rem;
      left: 6rem;
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.3rem;
        margin: 1.3rem 0rem;
      }
      .btn-primary {
        margin-bottom: 1rem;
      }
    }
  }

  .tools-entity {
    left: 7rem;
  }
}
